[Unit]
Description=Stacker
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/stacker server
WorkingDirectory=/data/stacker/current
User=stacker
Group=stacker
SyslogIdentifier=stacker
NoNewPrivileges=true
WatchdogSec=10

[Install]
WantedBy=multi-user.target
